.header {
  max-width: 1120px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 280px;
  padding: 32px;
  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    h1 {
      font-family: Poppins;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 24px;
      color: #232134;
      cursor: pointer;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    gap: 60px;
    h3 {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      color: #232134;
      cursor: pointer;
    }
  }
}
